.contact {
	background: #e8e8e8;
	input,textarea {
		width: 100%;
		height: 43px;
		border-radius: 10px;
		border: none;
		padding-left: 15px;
		&:focus {
			outline: none;
		}
	}
	.input-list li{
		padding-bottom: 15px;
	}
	input::-webkit-input-placeholder {
		color: black;
	}
	textarea::-webkit-input-placeholder {
		color: black;
	}
	textarea {
		resize: none;
		height: 180px;
		padding-top: 15px;
	}
}	