.news {
	background: #ff5959;
	color: white;
	h2,a {
	color: white;
	}
	h4 {
		padding: 15px 0 10px 0;
	}
	p {
		padding: 15px 0;
	}
	.news-author {
		padding-right: 40px;
		&:before {
			content: url(../img/author-before.png);
			padding-right: 10px;
		}
	}
	.news-comm {
		&:before {
			content: url(../img/comments-before.png);
			padding-right: 10px;
		}
	}
	.news-data {
		&:before {
			content: url(../img/news-data-before.png);
			padding-right: 10px;
		}
	}
	li {
		padding-top: 40px;
		@media screen and (min-width: 768px) {
			padding-top: 0;
		}
	}
}
