.hero {
	padding-top: 50px;
	@media screen and (min-width: 768px) {
		padding-top: 250px;

	}
	.left-side {
		width: 90%;
		margin: 0 auto;
		h2 {
			font-family: DroidSans;
			font-size: 48px;
			font-weight: 700;
			margin-bottom: 30px;
			@media screen and (min-width: 768px) {
				font-size: 72px;
			}
			span {
				display: block;
				font-size: 30px;

			}
		}
		ul {
			margin-top: 10px;
			li {
				margin-bottom: 15px;
				@media screen and (min-width: 768px) {
					display: inline-block;
					margin-right: 20px;
					margin-top: 30px;
				}
			}
		}

		@media screen and (min-width: 768px) {
				float: left;
				width: 500px;
				margin-left: 100px;
				margin-right: 50px;
			
		}
	}
	.right-side {
		overflow: hidden;
	}
}
