.services {
	background: #e8e8e8;
	text-align: center;
	padding-bottom: 50px;
	@media screen and (min-width: 768px) {
		padding-bottom: 150px;
	}
		h2 {
			&:after {
				content: "";
				display: block;
				width: 30%;
				height: 4px;
				margin: 0 auto;
				background: url(../img/underline.png) no-repeat;
			}
		}
		ul {
			padding-top: 50px;
		}
}