body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #a8a8a8;
	text-align: center;
}
a {
	color: white;
	display: block;
}

a:link, a:visited {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
	width: 1170px;
	margin: 0 auto;
}