body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #a8a8a8;
	text-align: center;
}
* {
	box-sizing: border-box;
}
a {
	color: white;
	display: block;
}

a:link, a:visited {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
	max-width: 1170px;
	margin: 0 auto;
}
section {
	overflow: hidden;
}

.blue-button {
	display: inline-block;
	width: 201px;
	height: 49px;
	background-color: #39c9da;
	border:3px solid #39c9da;
	border-radius: 4px;
	font-weight: 700;
	font-size: 20px;
	line-height: 49px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	transition: all .3s;
	&:hover {
		background-color: transparent;
		font-size: 26px;
		color:#39c9dd;
	}
}