.about-us {
	.about-us-list {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		li {
			width: 255px;
			padding-bottom: 40px;
			@media screen and (min-width: 769px) {
				padding-bottom: 0;
			}
			h3 {
				padding: 25px 0 15px 0;
				font-size: 22px;
				font-weight: 700;
			}
		}

	}
}