.contact {
	background: #d11f2d;
	p {
		color: white;
		max-width: 920px;
	}
	a {
		margin-top: 70px;
		padding: 20px 55px;
		background: #fff;
		border-radius: 4px;
		color: #252525;
		font: 700 24px/26px "Open Sans", sans-serif;

	}
}