.clients {
	color: #222;
	background: #f4f4f4;
	.clients-list {
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-wrap: wrap;
		align-content: center;
		li {
			padding-bottom: 50px;
			flex-basis: 100%;
			@media screen and (min-width: 500px) {
				flex-basis: 50%;
			}
			@media screen and (min-width: 768px) {
				flex-basis: 20%;
				padding-bottom: 0;
			}
		}
	}
}