footer {
  min-height: 90px;
  background-color: #242424;
  text-align: center;
  padding: 20px 0;
  .copyright {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding: 10px 0;
  }
  .social-networks li {
    display: inline-block;
    width:50px;
    height:50px;
   
    text-align: center;
    font-size: 20px;
    line-height: 45px;
    transition: 0.3s all ease-out;
    &:nth-child(1) {
       border:2px solid #018ada;
      background-color: #018ada;
    }
    &:nth-child(2) {
       border:2px solid #3c5a98;
      background-color: #3c5a98;
    }
    &:nth-child(3) {
       border:2px solid #d13f3f;
      background-color: #d13f3f;
    }
    &:nth-child(4) {
       border:2px solid #e95c93;
      background-color: #e95c93;
    }
    a, a:link {
      color:#FFF;
    }
    &:hover {
      background-color: transparent;
    }
  }
  @media screen and (min-width: 768px) {
    padding: 55px 0 45px;
    text-align: left;
    .social-networks {
      float:right;
    }
  }
}