@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body {
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
	color: black;
}
p {
	margin: 0;
}
a {
	display: inline-block;
}

a:link, a:visited {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
ul {
	padding-left: 0;
}

li {
	list-style-type: none;
}

section {
	overflow: hidden;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
}

.section {
	padding: 50px 0;
	@media screen and (min-width: 768px) {
		padding: 110px 0;
	}
}


